doctype HTML
html
- var date = new Date().getDate();
- var week = ['일', '월', '화', '수', '목', '금', '토']
    head
        title #{title}
        title Mediger
        meta(name="viewpoint" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/main.css')
        script(src="/socket.io/socket.io.js")
        script.
            var socket = io.connect('http://localhost:2000/alarm',{
                path: '/socket.io'
            });
            socket.emit("ready", {});
            socket.on('alarm', (data)=>{
                alert(data.scheName+" "+data.scheHour+":"+data.scheMin);
            });
    body
        include header.pug
        .calendarBig
            .calendarTop
                .calendarYearMonth=monthToday
            .calendarBottom1
                .day1 화
                .day 수
                .day 목
                .day 금
                .day 토
                .day 일
                .day2 월


            .calendarBottom2
                .dateCircleFirst
                    .date
                        a(href="/calendar/"+`${-3}`).a #{date-3}
                .dateCircle
                    .date
                        a(href="/calendar/"+`${-2}`).a #{date-2}
                .dateCircle
                    .date
                        a(href="/calendar/"+`${1}`).a #{date-1}
                .dateCircle
                    .date
                        a(href="/calendar/"+`${0}`).a #{date}
                .dateCircle
                    .date
                        a(href="/calendar/"+`${1}`).a #{date+1}
                .dateCircle
                    .date
                        a(href="/calendar/"+`${2}`).a #{date+2}
                .dateCircleLast
                    .date
                        a(href="/calendar/"+`${3}`).a #{date+3}
        .dateBox=speciDate
        .hr
        
        if !schedules
            .specification 일정없음    
        if (schedules!=null)
            .calendarspace
                for schedule in schedules
                    .calendarbox
                        if(schedule.intake===true)
                            .calendarTaken
                        else
                            .calendarNotTaken
                        - time = schedule.scheHour + "시 " + schedule.scheMin + "분 " + schedule.scheName
                        .calendarTime
                            a(href="/calendar/"+`${userDate}`+"/"+`${schedule.scheID}`+"").a=time
        .footer
            include footer.pug