doctype html
head
    title Mediger
    meta(name="viewpoint" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/main.css')
    script.
        function appendAccom(form){
            append = document.getElementById("appendAccom");
            append.innerHTML += "<div class=blueBox> <div class=profileBlueIndex1> 보호자 이름 </div> <input class=profileText type=text name=accompanierName placeholder='홍길동'></div><br>"
            append.innerHTML += "<div class=blueBox> <div class=profileBlueIndex2> 보호자 연락처 </div><input class=profileText type=text name=accompanierPhone placeholder='010-0000-0000'></div><br>"
        }

body(onload="window.resizeTo(642,341)")
    include header.pug
    div#profileEdit
        form(action="/user/edit", method="post")
            div.firstGreyBox
                div.profileIndex 이름
                    
                div.profileInner=user.userName
            .greyBox
                .profileIndex 생년월일
                .profileInner=user.birth
            .greyBox
                .profileIndex 성별
                if !(user.sex)
                    - var sex = "남자"
                if user.sex
                    - var sex = "여자"
                .profileInner= sex

            div#appendAccom
                .greyBox
                    .profileIndex 보호자
                    input.profileButton(type="button", value="추가하기", onclick="appendAccom(this.form)")

            
                //- .blueBox
                //-     .profileBlueIndex1 보호자 이름
                //-     input.profileText(type="text", name="accompanierName",placeholder="홍길동" )
                //- .blueBox
                //-     .profileBlueIndex2 보호자 연락처
                //-     input.profileText(type="text", name="accompanierPhone", placeholder="010-0000-0000")

            input.Rectangle-132(type="submit", value="등록")
    .footer
        include footer.pug